<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <appSettings>
    <add key="BaudRateList" value="300;1200;2400;4800;9600;19200;38400;57600;74880;115200;230400;250000;500000;1000000;2000000" />
    <add key="MinTemp" value="0" />
    <add key="MaxTemp" value="150" />
    <!--
      ID - SensorList:
      0-Velocimeter
      1-Themomether Right
      2-Themomether Center
      3-Themomether Left ->Disabled
      4-Horizontal Bar
    -->
 </appSettings>
</configuration>